#musical-card {
  width: 200px;
  margin: 30px;
}

#musical-card-img {
  width: inherit;
  cursor: pointer;
}

#musical-card-title {
  font-size: medium;
  font-weight: bold;
}

.musical-card-data {
  font-size: medium;
  font-weight: lighter;
}
