.passwordFormTitle {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

.textFieldContainer {
    width: 340px;
}

.centerElements {
    display: flex;
    justify-content: center;
}

.formTextField {
    margin-top: 25px !important;
}

.passwordSubmitBtn {
    margin-top: 80px !important;
    border-radius: 50px !important;
    background-color: #EF1659 !important;
    color: white;
    width: 152px !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    height: 38px !important;
}

.errorMsg {
    width: 340px;
    margin-top: 5px;
    color: #EF1659;
}