.musical-details-card {
  width: 100%;
}

.musical-details {
  margin-left: 20px;
  margin-top: 15px;
  max-width: 400px;
}

#musical-title {
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
}

.musical-text {
  margin-top: 5px;
  max-width: 300px;
  margin-right: 10px;
  font-size: 18px;
}

#musical-img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: 20px;
}

#right-side-card {
  max-width: 500px;
}

#the-card {
  width: 950px;
  height: 500px;
  margin: auto;
  margin-top: 70px !important;
  display: flex;
}

#add-review-btn {
  margin-top: 80px !important;
  margin-left: 20px;
  border-radius: 50px !important;
  background-color: #ef1659 !important;
  color: white;
  width: 130px;
  font-weight: 700;
  font-size: 14px;
  height: 23px;
}
